.Cart {
    display: flex;
}

.CartImg {
    width: 45px;
    height: 45px;
}

.CartCount {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(188, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}